<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thewatch_cst133_final_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="theWatch"
        android:roundIcon="@mipmap/thewatch_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"  />

        <activity
            android:name=".CreateCrimeReportAct"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewCrimeReportAct"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>